/* --------------- Width - Height ------------ */

.w-100 {
  width: 100%;
}

/* --------------- Flex Start ------------ */

.flex-row {
  display: flex;
  gap: 7px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 5px;
}

.gap-7 {
  gap: 7px;
}

/* -------------- Margin ------------- */

.mt {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 20px;
}

.mb {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 3px;
}

.mb-1 {
  margin-bottom: 3px;
}

.ms-5 {
  margin-left: 5px;
}

/* -------------- Padding ------------- */

.p-2 {
  padding: 10px;
}

.p-1 {
  padding: 5px;
}

/* -------------- Font ------------- */

.fw-bold {
  font-weight: bold;
}

.fs-lg {
  font-size: 0.85rem;
}

.fs-sm {
  font-size: 0.65rem;
}

.fs-md {
  font-size: 0.85rem;
}

.fs-lg {
  font-size: 1rem;
}

.txt-clr {
  color: var(--li-child-text-clr);
}

/* -------------------------------- */
