.active-tab-container {
  position: relative;
  margin-top: 10px;
  border: 1px solid rgb(72, 70, 70);
  border-radius: 7px;
}

.activetab-label {
  color: white;
  white-space: nowrap;
}

.activetab-title {
  text-overflow: ellipsis;
  color: lightgray;
  overflow: hidden;
  max-width: 40vw;
  font-size: 0.83rem;
  white-space: nowrap;
}
