.operator-view-inner {
  position: relative;
  width: 50px;
  border-radius: 3px;
  font-size: 0.59rem;
  font-weight: bold;
  padding: 2px;
  border: 2px solid rgb(40, 37, 37);
}

.operator-view-inner::before {
  content: "";
  border-right: 4px solid rgb(40, 37, 37);
  position: absolute;
  height: 17px;
  left: 26px;
  top: -17px;
}

.operator-view-inner::after {
  content: "";
  position: absolute;
  border-right: 4px solid rgb(40, 37, 37);
  height: 15px;
  left: 26px;
  top: 17px;
}
