input {
  color: orange;
  background-color: #393939;
}

input[placeholder="Enter description"] {
  color: gray;
}

select {
  outline: none;
  color: rgb(194, 192, 192);
  background-color: #393939;
  border: none;
}
