.record-container {
  align-self: self-start;
  height: 50px;
}

button:active {
  transform: scale(0.98);
  color: white;
}

.rec-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.rec-button[data-status="recording"] {
  color: rgb(235, 234, 234);
  outline: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.rec-button[data-status="stopped"] {
  color: red;
  outline: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.rec-button:not(:disabled):hover {
  background-color: #343434;
  color: red;
}

.rec-button:disabled {
  color: rgb(139, 126, 126);
  background-color: rgb(49, 46, 46);
  outline: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 0.71rem;
  font-weight: bold;
}

.Rec {
  width: 13px;
  height: 13px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 35px;
  margin: 18px;
  outline: none;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}
