@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");


*{
  user-select: none;
}
/* width */
/*::-webkit-scrollbar {
  width: 3px;
}
*/
/* Track */
/*::-webkit-scrollbar-track {
  background: rgb(70,70,70);
}*/

/* Handle */
/*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3;
}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: rgb(75,105,175);
}*/
